<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>

    <%todos.forEach(function(t, idx) { %>
      
      <!-- Display unordered list of all open todos -->
      <div class="listWrapper">
      <% if(t.todo !== "") { %>
        <ul>
          <li> <%= t.todo %>
            -
            <%= t.done ? 'done' : 'not done' %>
            <form action="/<%= idx %>?_method=DELETE" id="delete-form" class="form" method="POST">
                <button type="submit" class="delete"><i class="fas fa-trash-alt fa-2x"></i></button>
              </form>
            </li>
          </ul>
        </div>
          <!-- Else if todos array is empty display a message that lets the user know -->
          <% } else { %>
            <h3>There are no To Dos yet!</h3>
          <% } %>
      <% }); %>
      <br>

    <form action="/" method="POST" class="form">
      <input type="text" name="todo" class="add" required>
      <button type="submit" class="add">Add To Do</button>
    </form>

    <form action="" class="resetForm">
      <button type="submit" class="reset">Reset List</button>
    </form>

  </body>
</html>
